*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    
}

.menu{
    width: 280px;
    height: 100%;
    background-color: tomato;
    float: left;
    
}
.nav-image{
    width: 80%;
    height: max-content;
    margin: 15px auto;
}
img{
    border: 2px solid white;
    width: 150px; 
    height: 150px; 
    border-radius: 50%;
    margin: 40px auto 0 auto;
    display: block;
    background-color: gray;
    
    
}
ul{
    float: left;
    display: grid;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    padding-left: 10%;
    color: #fff;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    transition: 0.4s ease-in-out;

}

ul li a:hover{
    color: #3d3d3d;
}
.main-content{

    width: 1120px;
    height: 100%;
    margin-left: 290px;
    /*overflow-x: hidden;*/
    /*padding: 15px;*/

    
}
.fa {
  padding: 20px;
  font-size: 50px;
  width: 50px;
  text-align: flex;
  text-decoration: none;
  margin: 8px 5px;
  background-color: white;
}
.fa:hover {
    opacity: 0.7;
    transition: 2.0s;
    color: grey;
}

