*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    /*color: lightyellow;*/
    
}

.menu{
    width: 20%;
    height: 100vh;
    background-color: tomato;
    float: left;
    border: 3px solid;
    border-radius: 5px;
    border-color: gray;
    position: fixed;
    z-index: 100;
    
}
.nav-image{
    width: 80%;
    height: max-content;
    margin: 15px auto;
}
img{
    border: 2px solid white;
    width: 150px; 
    height: 150px; 
    border-radius: 50%;
    margin: 40px auto 0 auto;
    display: block;
    background-color: gray;
    
    
}
ul{
    float: left;
    display: grid;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    align-items: flex-end;
    padding-left: 10%;
    color: #fff;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    transition: 0.4s ease-in-out;

}

ul li a:hover{
    color: #3d3d3d;
}
.main-content{

    width: 80%;
    /*height: auto;*/
    margin-left: 20%;
    padding: 1rem;
    border: 2px solid tomato;
    border-radius: 5px;
    z-index: 100;
    float: left;

    
}
#ABOUT ME{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
    text-align: justify;
    font-family: Verdana;
    margin: 0px auto;
    width: 80%;
    height: 100vh;
    
    
    
} 
h1{
    font-size: 36px;
    font-weight: 700;
    color: tomato;
}
p{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}
#SERVICE{
    font-family: Verdana;
    text-align: justify;
    display: flex;
    margin: 0px;
    flex-direction: column;
    width: 80%;
    height: 100vh;
    border: 3px soild;
    
    
}
#PROJECTS{
    font-family: Verdana;
    text-align: justify;
    display: flex;
    margin: 0px;
    flex-direction: column;
    width: 80%;
    height: 100vh;
  
}
ol{
    display: inline-block;
    border: 1px solid tomato;
    padding: 20px;

}
.fa {
    padding: 20px;
    font-size: 35px;
    width: 50px;
    text-align: flex;
  
}
.fa:hover {
    opacity: 0.7;
    transition: 1.0s;
    color: grey;
}
footer{
    text-align: center;
    padding: 3px;
    background-color: darksalmon;
    color: gray;
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}