html {
    background-color: white;
}




.navbar{
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: rgba(59, 198, 182, 0.9);
    position: sticky;
    top: 0;

}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;

}
.navbar ul li{
    font-family: century;
    font-size: 1.1res;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
    
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px black;
}

div skills {
    width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
    
}